{% extends "orders/base.html" %}

{% block title %} Log in  {% endblock %}
{% block body %}
<section>
  <reg>
<h1>Welcome to Sort of Pinochio's</h1>
{% if message %}
    <div>
        {{ message }}
    </div>
{% endif %}
<h1>Please sign in for online orders</h1>
<form action="{% url 'login' %}" method="post">
    {% csrf_token %}
    Username: <input name="username" type="text"/><p>
    Password: <input name="password" type="password"/><p>
    <input type="submit" value="Login"/>
</form>
Or create an account<p>
<form action="{% url 'login' %}" method="post">
    {% csrf_token %}
    First Name: <input name="firstname" type="text"/><p>
    Last Name: <input name="lastname" type="text"/><p>
    Email Address: <input name="email" type="text"><p>
    Desired Username: <input name="username" type="text"/><p>
    Password: <input name="password" type="password"/><p>
    Confirm Password: <input name="password_confirmation" type="password"/><p>
    <input type="submit" value="Register"/>
</form>

</reg>
</section>
{% endblock %}
