{% extends "orders/base.html" %}

{% block title %}
    Sort of Pinochio's Menu
{% endblock %}

{% block body %}
<header>
<h1>Menu</h1>
</header>
<section>
  <menu>
  <h2><a name="regular">Regular Pizzas</a></h2>
  <table>
    <tr>
      <th>&nbsp;</th><th>Small</th><th>Large</th>
    </tr>
    <tr>
      <td>Cheese</td>
      <td> {{ regSmPizzas.plainPrice }} </td>
      <td> {{ regLgPizzas.plainPrice }}</td>
    </tr> 
    <tr>
      <td>1 Topping</td>
      <td> {{ regSmPizzas.plusOnePrice }} </td>
      <td> {{ regLgPizzas.plusOnePrice }}</td>
    </tr> 
    <tr>
      <td>2 Toppings</td>
      <td> {{ regSmPizzas.plusTwoPrice }} </td>
      <td> {{ regLgPizzas.plusTwoPrice }}</td>
    </tr> 
    <tr>
      <td>3 Toppings</td>
      <td> {{ regSmPizzas.plusThreePrice }} </td>
      <td> {{ regLgPizzas.plusThreePrice }}</td>
    </tr> 
    <tr>
      <td>Special</td>
      <td> {{ regSmPizzas.specialPrice }} </td>
      <td> {{ regLgPizzas.specialPrice }}</td>
    </tr> 
  </table>
  <div class="nav">
  <a href="#regular">Regular Pizza</a> | <a href="#sicilian">Sicilian Pizza</a> | 
      <a href="#toppings">Toppings</a> | <a href="#subs"> Subs</a> | <a href="#pasta">Pasta</a> |
      <a href="#salads">Salads</a> | <a href="#platters">Dinner Platters</a>
  </div>
  <h2><a name="sicilian"Sicilian Pizzas:</a></h2>
  <table>
    <tr>
      <th>&nbsp;</th><th>Small</th><th>Large</th>
    </tr>
    <tr>
      <td>Cheese</td>
      <td> {{ sicilianSmPizzas.plainPrice }} </td>
      <td> {{ sicilianLgPizzas.plainPrice }}</td>
    </tr> 
    <tr>
      <td>1 Topping</td>
      <td> {{ sicilianSmPizzas.plusOnePrice }} </td>
      <td> {{ sicilianLgPizzas.plusOnePrice }}</td>
    </tr> 
    <tr>
      <td>2 Toppings</td>
      <td> {{ sicilianSmPizzas.plusTwoPrice }} </td>
      <td> {{ sicilianLgPizzas.plusTwoPrice }}</td>
    </tr> 
    <tr>
      <td>3 Toppings</td>
      <td> {{ sicilianSmPizzas.plusThreePrice }} </td>
      <td> {{ sicilianLgPizzas.plusThreePrice }}</td>
    </tr> 
    <tr>
      <td>Special</td>
      <td> {{ sicilianSmPizzas.specialPrice }} </td>
      <td> {{ sicilianLgPizzas.specialPrice }}</td>
    </tr> 
  </table>
  <div class="nav">
  <a href="#regular">Regular Pizza</a> | <a href="#sicilian">Sicilian Pizza</a> | 
      <a href="#toppings">Toppings</a> | <a href="#subs"> Subs</a> | <a href="#pasta">Pasta</a> |
      <a href="#salads">Salads</a> | <a href="#platters">Dinner Platters</a>
  </div>

  <h2><a name="toppings">Toppings</a></h2>
  <div class="toppings">
  {% for topping in toppings %}
      {{ topping }} <br>
  {% empty %}
      No toppings today<br>
  {% endfor %}
  </div>

  <div class="nav">
  <a href="#regular">Regular Pizza</a> | <a href="#sicilian">Sicilian Pizza</a> | 
      <a href="#toppings">Toppings</a> | <a href="#subs"> Subs</a> | <a href="#pasta">Pasta</a> |
      <a href="#salads">Salads</a> | <a href="#platters">Dinner Platters</a>
  </div>
  <h2><a name="subs">Subs:</a></h2>
  <table>
    <tr><th>&nbsp;</th><th>Small</th><th>Large</th></tr>
    {% for sub in subs %}
    {% if sub.smPrice == 0 %}
        <tr><td> {{ sub.type }}</td><td> &nbsp;<td>{{ sub.lgPrice }}</td></tr>
    {% else %}
    <tr><td> {{ sub.type }}</td><td> {{ sub.smPrice }}</td><td>{{ sub.lgPrice }}</td></tr>
    {% endif %}
    {% if sub.type == "Steak + Cheese" %}
       {% for ex in extras %}
        <tr><td>+ {{ex.type }}</td><td>{{ ex.price }}</td><td>{{ ex.price }}</td></tr>
       {% endfor %}
    {% endif %}
    {% empty %}
    <tr><td colspan="3">No subs </td></tr>
    {% endfor %}
    <tr><td>Extra Cheese on any sub</td><td>+{{ cheese.price }}</td><td>+{{ cheese.price }}</td>
  </table>
  <div class="nav">
  <a href="#regular">Regular Pizza</a> | <a href="#sicilian">Sicilian Pizza</a> | 
      <a href="#toppings">Toppings</a> | <a href="#subs"> Subs</a> | <a href="#pasta">Pasta</a> |
      <a href="#salads">Salads</a> | <a href="#platters">Dinner Platters</a>
  </div>
  <h2><a name="pasta">Pasta:</a></h2>
  <table>
    {% for pasta in pastas %}
    <tr><td> {{ pasta.type }}</td><td> {{ pasta.price }}</td></tr>
    {% empty %}
    <tr><td colspan="3">No pasta </td></tr>
    {% endfor %}
  </table>
  <div class="nav">
  <a href="#regular">Regular Pizza</a> | <a href="#sicilian">Sicilian Pizza</a> | 
      <a href="#toppings">Toppings</a> | <a href="#subs"> Subs</a> | <a href="#pasta">Pasta</a> |
      <a href="#salads">Salads</a> | <a href="#platters">Dinner Platters</a>
  </div>
  <h2><a name="salad">Salads:</a></h2>
  <table>
    {% for salad in salads %}
    <tr><td> {{ salad.type }}</td><td>{{ salad.price }}</td></tr>
    {% empty %}
    <tr><td colspan="3">No salads </td></tr>
    {% endfor %}
  </table>
  <div class="nav">
  <a href="#regular">Regular Pizza</a> | <a href="#sicilian">Sicilian Pizza</a> | 
      <a href="#toppings">Toppings</a> | <a href="#subs"> Subs</a> | <a href="#pasta">Pasta</a> |
      <a href="#salads">Salads</a> | <a href="#platters">Dinner Platters</a>
  </div>
  <h2><a name="platters"Dinner Platters:</a></h2>
  <table>
    {% for platter in platters %}
    <tr><td> {{ platter.type }}</td><td>Small: {{ platter.smPrice }}<br>Large: {{ platter.lgPrice }}</td></tr>
    {% empty %}
    <tr><td colspan="3">No platters </td></tr>
    {% endfor %}
  </table>
  <div class="nav">
  <a href="#regular">Regular Pizza</a> | <a href="#sicilian">Sicilian Pizza</a> | 
      <a href="#toppings">Toppings</a> | <a href="#subs"> Subs</a> | <a href="#pasta">Pasta</a> |
      <a href="#salads">Salads</a> | <a href="#platters">Dinner Platters</a>
  </div>
  </menu>
</section>    
{% endblock %}
