{% extends "orders/base.html" %}
{% load static %}


{% block title %}
    Sort of Pinochio's Menu
{% endblock %}

{% block body %}
<header>
  <script src="{% static 'orders/menu.js' %}" /></script> 

<h1>Menu</h1>
Welcome {{ username }}
</header>
<section>
  <nav>
  <a href="#regular">Regular Pizza</a> <br>
  <a href="#sicilian">Sicilian Pizza</a> <br>
  <a href="#toppings">Toppings</a> <br>
  <a href="#subs"> Subs</a> <br>
  <a href="#pasta">Pasta</a> <br>
  <a href="#salads">Salads</a> <br>
  <a href="#platters">Dinner Platters</a>
  <p>
  <a href="{% url 'logout' %}">Log Out</a><p>    
  <a href="{% url 'shoppingCart' %}">View Shopping Cart</a><p>    
  <a href="{% url 'orderOnline' %}">Place an order</a><p>    
  </nav> 
  <menu>
  <h2><a name="regular">Regular Pizzas</a></h2>
  <table class="hoverTable" id="reg_pizza" data-item="regular pizza">
    <tr>
      <th>&nbsp;</th><th>Small</th><th>Large</th>
    </tr>
    {% for pSmPrice, pLgPrice in pizzaRegPrices %}
      <tr>
        <td data-type="plain">Cheese + {{ pSmPrice.numToppings }} Topping(s)</td>
        <td id="smcheese" data-price={{ pSmPrice.pizzaPrice }}> {{ pSmPrice.pizzaPrice }} </td>
        <td data-price={{ pLgPrice.pizzaPrice }}> {{ pLgPrice.pizzaPrice }}</td>
      </tr> 
      {% empty %}
      No pizzas!
      {% endfor %}
  </table>
  <h2><a name="sicilian">Sicilian Pizzas</a></h2>
  <table class="hoverTable" id="sicilian_pizza" data-item="sicilian pizza">
    <tr>
      <th>&nbsp;</th><th>Small</th><th>Large</th>
    </tr>
    {% for pSmPrice, pLgPrice in pizzaSicilianPrices %}
      <tr>
        <td data-type="plain">Cheese + {{ pSmPrice.numToppings }} Topping(s)</td>
        <td id="smcheese" data-price={{ pSmPrice.pizzaPrice }}> {{ pSmPrice.pizzaPrice }} </td>
        <td data-price={{ pLgPrice.pizzaPrice }}> {{ pLgPrice.pizzaPrice }}</td>
      </tr> 
      {% empty %}
      No pizzas!
      {% endfor %}
  </table>
  <h2><a name="toppings">Toppings</a></h2>
  <div class="toppings">
  {% for topping in toppings %}
      {{ topping }} <br>
  {% empty %}
      No toppings today<br>
  {% endfor %}
  </div>

  <h2><a name="subs">Subs:</a></h2>
  <table class="hoverTable">
    <tr><th>&nbsp;</th><th>Small</th><th>Large</th></tr>
    {% for sub in subs %}
    {% if sub.smPrice == 0 %}
        <tr><td> {{ sub.type }}</td><td> &nbsp;<td>{{ sub.lgPrice }}</td></tr>
    {% else %}
    <tr><td> {{ sub.type }}</td><td> {{ sub.smPrice }}</td><td>{{ sub.lgPrice }}</td></tr>
    {% endif %}
    {% if sub.type == "Steak + Cheese" %}
       {% for ex in extras %}
        <tr><td>+ {{ex.type }}</td><td>{{ ex.price }}</td><td>{{ ex.price }}</td></tr>
       {% endfor %}
    {% endif %}
    {% empty %}
    <tr><td colspan="3">No subs </td></tr>
    {% endfor %}
    <tr><td>Extra Cheese on any sub</td><td>+{{ cheese.price }}</td><td>+{{ cheese.price }}</td>
  </table>
  <h2><a name="pasta">Pasta:</a></h2>
  <table class="hoverTable">
    {% for pasta in pastas %}
    <tr><td> {{ pasta.type }}</td><td> {{ pasta.price }}</td></tr>
    {% empty %}
    <tr><td colspan="3">No pasta </td></tr>
    {% endfor %}
  </table>
  <h2><a name="salads">Salads:</a></h2>
  <table class="hoverTable">
    {% for salad in salads %}
    <tr><td> {{ salad.type }}</td><td>{{ salad.price }}</td></tr>
    {% empty %}
    <tr><td colspan="3">No salads </td></tr>
    {% endfor %}
  </table>
  <h2><a name="platters">Dinner Platters:</a></h2>
  <table class="hoverTable">
    {% for platter in platters %}
    <tr><td> {{ platter.type }}</td><td>Small: {{ platter.smPrice }}<br>Large: {{ platter.lgPrice }}</td></tr>
    {% empty %}
    <tr><td colspan="3">No platters </td></tr>
    {% endfor %}
  </table>
  </menu>
</section>    
{% endblock %}
