{% extends "orders/base.html" %}
{% load static %}

{% block title %}
   Pinochio Online Ordering
{% endblock %}

{% block body %}
<header>
<!--  <script src="{% static 'orders/menu.js' %}" /></script> -->
<script>
  var counter = 0;
</script>
<h1>Place an Order</h1>
</header>
<section>
  <nav>
  <a href="{% url 'menu' %}">Menu</a><p>    
  <a href="{% url 'shoppingCart' %}">View Shopping Cart</a><p>    
  <a href="{% url 'emptyCart' %}">Empty Shopping Cart</a><p>    
  <a href="{% url 'viewOrders' %}">View Order History</a><p>    
  <a href="{% url 'logout' %}">Log Out</a><p>    
  </nav> 
  <onlineMenu>
    <form action = "{% url 'shoppingCart' %}" method="post">
      {% csrf_token %}
      <h2 class="itemName">Choose a Pizza size and type</h2>
     <div class="row">
      <div class="column">
      {% for pizza in allPizzas %}
          <input type="radio" name="pizza" class="menuItem" value={{ pizza.size }}{{ pizza.type }}>
	  {% if pizza.size == "S" %}
	    Small
	  {% else %}
	    Large
	  {% endif %}
	  {% if pizza.type == "R" %}
	    Regular
	  {% else %}
	    Sicilian
	  {% endif %}
	  <br>
	  </div>
      {% if not forloop.last %}
      <div class="column">
	{% endif %}
    {% endfor %}
      </div>
      <div class="after"></div>
     <h2 class="itemName">Add Toppings </h2>
      <p>
     <div class="row">
      <div class="column">
       {% for topping in toppings %}
              <input type="checkbox" name="topping" value={{ topping }}>{{ topping }}<br>
	      {% if forloop.counter|divisibleby:5 or forloop.last%}
   	        </div>
                  {% if not forloop.last %}
                  <div class="column">
                  {% endif %}
	      {% endif %}
       {% endfor %}
     </div>
      <input type="submit" value="Add to Cart"/>
      <div class="after"></div>
     <h2 class="itemName">Subs</h2>
     <div class="row">
      <div class="column">
 	{% for sub in subs %}
	  {% if sub.smPrice > 0  %}
	      <input type="checkbox" name="sub" value="S{{ sub.type }}">Small
	  {% endif %}
	  <input type="checkbox" name="sub" value="L{{ sub.type }}">Large
  	  <span class="menuItem">{{ sub.type }}</span>  <br>
 	  {% if sub.type == "Steak + Cheese" %}
	    <input type="checkbox" name="extras" value="Mushrooms">+ Mushrooms <br>
  	    <input type="checkbox" name="extras" value="Green Peppers"> + Green Peppers<br>
	    <input type="checkbox" name="extras" value="Onions">+ Onions<br>
	  {% endif %}
	  {% if forloop.counter|divisibleby:8 or forloop.last%}
  	     </div>
             {% if not forloop.last %}
               <div class="column">
             {% endif %}
	  {% endif %}
	{% endfor %}
      </div>
      <input type="checkbox" name="extras" value="Extra Cheese">Extra Cheese on any sub<br>
      </div>
     </div>
      <input type="submit" value="Add to Cart"/>
     <div class="row">
       <div class="column">
	 <h2 class="itemName">Pasta</h2>
         {% for pasta in pastas %}
	 <input type="checkbox" name="pasta" value="{{ pasta.type }}">
	 <span class="menuItem">{{ pasta.type }}</span><br>
	 {% endfor %}
	 </div>
       <div class="column">
	 <h2 class="itemName">Salad</h2>
         {% for salad in salads %}
	 <input type="checkbox" name="salad" value="{{ salad.type }}">
	 <span class="menuItem">{{ salad.type }}</span><br>
       	 {% endfor %}
       </div>
       <div class="column">
	 <h2 class="itemName">Platters</h2>
	 {% for platter in platters %}
	 <input type="checkbox" name="platter" value="S{{ platter.type }}">Small
	 <input type="checkbox" name="platter" value="L{{ platter.type }}">Large
  	 <span class="menuItem">{{ platter.type }}</span> <br>
	 {% endfor %}
       </div>
     </div>
      <input type="submit" value="Add to Cart"/>
      </form>
    </onlineMenu>
</section>
{% endblock %}
